html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: unset;
}
button {
  outline: none !important;
}
ul {
  list-style: none;
}

.card {
  background-color: $bgPrimary;
  box-shadow: $boxShadow;
  border-radius: 10px;
  padding: 20px;
}
