$mobile: 739px;
$minTablet: 740px;
$maxTablet: 1023px;

// Màn hình mobile: < 739px
@mixin Mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
// Màn hình Tablet: >=740px và <1023px
@mixin Tablet {
  @media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
    @content;
  }
}
// Màn hình áp dụng chung cho mobile và tablet
@mixin MobileAndTablet {
  @media screen and (max-width: $maxTablet) {
    @content;
  }
}
