@import "../../Assets/Styles/SCSS/Helper/mixin.scss";
.bookingMain {
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  margin-left: 50px;
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  @include MediaQuery($xs) {
    margin-left: 0;
  }
  @include MediaQuery($sm) {
    margin-left: 0;
    width: 100%;
    display: none;
    &.bookingMainActive {
      display: block;
    }
  }
  @include MediaQuery($md) {
    margin-left: 0;
  }

  @include MediaQuery($lg) {
    margin-left: 50px;
  }

  .screen {
    width: 80%;
    background-color: black;
    height: 10px;
    margin: 0 auto;
  }
  .meta-data {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    .address {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .address-info {
        text-align: left;
        span {
          display: block;
        }
      }
      img {
        height: 60px;
        border-radius: 5px;
        margin-right: 5px;
      }
    }
    .countDown {
      p {
        margin: 0;
      }
      .countDownTime {
        color: red;
        font-size: 30px;
      }
    }
  }
}
