.carousel {
	.owl-carousel {
		margin-top: 50px;
		z-index: 0;
		.owl-nav {
			margin: 0 !important;
			height: 0 !important;
			display: none;
			@include MediaQuery($md) {
				display: block;
			}
			button.owl-prev {
				&::before {
					content: "";
					position: absolute;
					top: 45%;
					left: 10px;
					background: url("https://tix.vn/app/assets/img/icons/back-session.png") 50% / contain no-repeat;
					width: 40px;
					height: 65px;
					border-radius: 5px;
					border: 2px solid #979797;
					background-color: #ecf0f1;
				}
				span {
					display: none;
				}
			}
			button.owl-next {
				&::before {
					content: "";
					position: absolute;
					top: 45%;
					right: 10px;
					background: url("https://tix.vn/app/assets/img/icons/next-session.png") 50% / contain no-repeat;
					width: 40px;
					height: 65px;
					border-radius: 5px;
					border: 2px solid #979797;
					background-color: #ecf0f1;
				}
				span {
					display: none;
				}
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
			@include MediaQuery($md) {
				bottom: 10%;
			}
			@include MediaQuery($xs) {
				bottom: 2%;
			}
			button {
				outline: none;
				// margin: -4px;
				&.active {
					span {
						background-color: #fb4226 !important;
						height: 5px;
						width: 28px;
						margin: 2px 1px !important;
						@include MediaQuery($sm) {
							margin: 1px 1px !important;
						}
						@include MediaQuery($md) {
							height: 6px;
							margin: 1px 1px !important;
							width: 35px;
						}
						@include MediaQuery($xs) {
							margin: 1.5px 1px !important;
							width: 25px;
						}
					}
				}
				span {
					width: 25px;
					height: 2px;
					margin: 3px 0.5px !important;
					background-color: #d8d8d8 !important;
					border-radius: 3px;
					transition: all 0.5s;
					@include MediaQuery($xs) {
						width: 20px;
						height: 2px;
					}
					@include MediaQuery($md) {
						width: 30px;
						height: 2px;
					}
				}
			}
		}
		.owl-stage-outer {
			.owl-stage {
				.owl-item {
					.carousel__item {
						// cursor: pointer;
						&:hover {
							.carousel__item__play {
								opacity: 1;
								transform: translate(-50%, -50%) scale(1);
							}
						}
						&__play {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%) scale(0.7);
							opacity: 0;
							z-index: 1;
							&:hover {
								button {
									img {
										opacity: 0.6;
									}
								}
							}
							button {
								width: unset;
								border: 0;
								background: 0;
								outline: none;
								img {
									display: block;
									max-width: 100%;
									transition: all 0.3s;
									@include MediaQuery($sm) {
										width: 70px;
									}
									@include MediaQuery($xs) {
										width: 50px;
									}
								}
							}
						}
						&__overlay {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: linear-gradient(to top, #000, transparent 20%);
						}
						img {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
