.carousel {
  .owl-carousel {
    margin-top: 70px;
    z-index: 0;
    .owl-nav {
      margin: 0 !important;
      height: 0 !important;
      @include MediaQuery($md) {
        display: block;
      }
      button.owl-prev {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 3%;
          transform: translateY(-50%);
          background: url(../../../Images/iconPrev.png) 50% / contain no-repeat;
          width: 40px;
          height: 65px;
          border-radius: 5px;
          background-color: $bgBorder;
          @include MobileAndTablet {
            background-color: transparent;
          }
        }
        span {
          display: none;
        }
      }
      button.owl-next {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 3%;
          transform: translateY(-50%);
          background: url(../../../Images/iconNext.png) 50% / contain no-repeat;
          width: 40px;
          height: 65px;
          border-radius: 5px;
          background-color: $bgBorder;
          @include MobileAndTablet {
            background-color: transparent;
          }
        }
        span {
          display: none;
        }
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      @include MobileAndTablet {
        bottom: 0;
      }
      button {
        outline: none;
        &.active {
          span {
            background-color: $bgDots;
          }
        }
        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin: 0 3px;
          background-color: $bgPrimary;
          transition: all 0.5s;
        }
      }
    }
    .owl-stage-outer {
      .owl-stage {
        .owl-item {
          .carousel__item {
            &:hover {
              .carousel__item__play {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
              }
            }
            &__play {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0.7);
              opacity: 0;
              z-index: 1;
              transition: all 0.3s ease-in-out;
              @include MobileAndTablet {
                opacity: 1;
                transform: translate(-50%, -50%);
              }
              &:hover {
                button {
                  img {
                    opacity: 0.6;
                  }
                }
              }
              button {
                width: unset;
                border: 0;
                background: 0;
                outline: none;
                img {
                  display: block;
                  max-width: 100%;
                  transition: all 0.3s;
                  @include Mobile {
                    width: 50px;
                  }
                }
              }
            }
            &__overlay {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: linear-gradient(to top, #000, transparent 20%);
            }
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
