.footer {
  background: $bgFooter;
  padding: 20px 0px;
  transition: all 0.2s linear;
  &.Dark {
    background: $bgDarkMode;
  }
  &__logo {
    img {
      // display: block;
      margin: 0 auto;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
  &__des {
    text-align: left;
    @include Mobile {
      margin-top: 1rem;
      text-align: center;
    }
    &--title {
      margin-bottom: 10px;
      color: $textWhite;
      font-size: $fzName;
    }
    span {
      color: $textFooter;
      display: block;
      font-size: $fzP;
      text-align: justify;
      line-height: 20px;
    }
  }
  &__contact {
    width: 50%;
    &__title {
      margin-bottom: 10px;
      color: $textWhite;
      font-size: $fzName;
      text-align: center;
      @include Mobile {
        display: none;
      }
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      @include Mobile {
        margin-top: 1rem;
      }
      a {
        width: 35%;
        text-decoration: none;
        color: $textWhite;
        text-align: center;
        i {
          display: block;
          font-size: 40px;
        }
      }
    }
  }
}
