.header {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: $bgHeader;
  color: $textBlack;
  font-size: $fzName;
  font-weight: $fwMid;
  transition: all 0.2s linear;
  &.Dark {
    background-color: $bgDarkMode;
    color: $textWhite;
  }
  &__navbar {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__logo {
      img {
        width: 50px;
      }
    }
    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include Mobile {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin-right: 20px;
          a {
            color: inherit;
            text-decoration: none;
            text-decoration: none;
            transition: all 0.2s;
            @include MobileAndTablet {
              font-size: $fzNameTablet;
            }
            &:hover {
              color: $textPrimary;
            }
          }
        }
      }
    }
    &__user {
      display: flex;
      align-items: center;
      @include Mobile {
        display: none;
      }
      .user__logged {
        display: flex;
        align-items: center;
        &__img {
          position: relative;
          width: 45px;
          height: 45px;
          background: $bgBorder;
          border-radius: 50%;
        }
        &__name {
          color: $textPrimary;
          padding-left: 10px;
        }
      }
      .user__login {
        border-right: 1px solid $bgBorder;
        a {
          display: flex;
          align-items: center;
          color: $textUser;
          text-decoration: none;
          transition: all 0.5s;
          &:hover {
            color: $textPrimary;
            span {
              color: $textPrimary;
            }
          }
          i {
            font-size: $fzH1;
          }
          span {
            color: $textUser;
            font-size: $fzName;
            margin: 0 10px 0 5px;
            transition: all 0.1s;
            @include MobileAndTablet {
              font-size: $fzNameTablet;
            }
          }
        }
      }
      .user__signUp {
        a {
          display: flex;
          align-items: center;
          color: $textUser;
          text-decoration: none;
          transition: all 0.5s;
          &:hover {
            color: $textPrimary;
            span {
              color: $textPrimary;
            }
          }
          i {
            font-size: $fzH1;
          }
          span {
            color: $textUser;
            font-size: $fzName;
            margin-left: 10px;
            transition: all 0.1s;
            @include MobileAndTablet {
              font-size: $fzNameTablet;
            }
          }
        }
      }
    }
    &__icon-bar {
      display: none;
      cursor: pointer;
      margin: 0;
      // color: $textUser;
      @include Mobile {
        display: block;
      }
      i {
        font-size: 30px;
      }
    }
    &__overlay {
      z-index: 9998;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: -10px;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
      animation: fadeIn linear 0.5s;
    }
    &__drop {
      z-index: 9999;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      color: $textBar;
      background: $bgPrimary;
      min-width: 200px;
      transform: translateX(100%);
      transition: all 0.5s;
      opacity: 0;
      &.Dark {
        background: $bgDarkMode;
        color: $textWhite;
      }
      .drop__cancel {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 2px;
        z-index: 9999;
        i {
          font-size: 40px;
        }
      }
      ul {
        list-style: none;
        padding-left: 10px;
        .drop__login {
          margin-top: 50px;
          padding-bottom: 10px;
          border-bottom: 1px solid $bgBorder;
          display: flex;
          align-items: center;
        }
        .drop__signUp {
          padding-top: 10px;
          border-top: 1px solid $bgBorder;
          button {
            color: inherit;
            i {
              color: $textPrimary;
              margin-right: 10px;
            }
          }
          a {
            color: inherit;
            display: block;
            font-size: $fzH2;
            margin-bottom: 10px;
          }
        }
        li {
          margin: 20px 10px;
          a {
            color: inherit;
            text-decoration: none;
            transition: all 0.2s;
            font-size: 14px;
            i {
              margin-right: 10px;
              transition: all 0.3s;
              color: $textPrimary;
            }
          }
        }
      }
    }
  }
}
