.modal-dialog {
  .modal-content {
    // background: transparent;
    border: none;
    .trailer__video {
      border-radius: 4px;
      height: 450px;
      @include Tablet {
        height: 350px;
      }
      @include Mobile {
        height: 250px;
      }
    }
  }
}
