// Helper
@import "../Helper/variable.scss";
@import "../Helper/mixin.scss";
@import "../Helper/responsive.scss";
@import "../Helper/reset.scss";
// Components
@import "../Components/loadingDemo.scss";
@import "../Components/header.scss";
@import "../Components/dropDown.scss";
@import "../Components/darkMode.scss";
@import "../Components/carousel.scss";
@import "../Components/searchMovie.scss";
@import "../Components/movieList.scss";
@import "../Components/owlCarouselShowTimes.scss";
@import "../Components/greyMain.scss";
@import "../Components/theaters.scss";
@import "../Components/theatersLogo.scss";
@import "../Components/theatersDetail.scss";
@import "../Components/theatersDetailItem.scss";
@import "../Components/theatersMovie.scss";
@import "../Components/theatersMovieDesktop.scss";
@import "../Components/theatersMovieMobile.scss";
@import "../Components/hourHome.scss";
@import "../Components/news.scss";
@import "../Components/apps.scss";
@import "../Components/footer.scss";
@import "../Components/scrollToTop.scss";
@import "../Components/trailer.scss";
.home__main {
  background: $bgPrimary;
  transition: all 0.2s linear;
  @include MobileAndTablet {
    padding-top: 20px;
  }
  &.Dark {
    background: $bgDarkModePage;
  }
}
