@import "../Helper/variable.scss";
@import "../Helper/responsive.scss";

body {
  background-color: $bgSecondary;
}
.info {
  padding: 100px 0;
  font-weight: $fwLight;
  color: $textInfo;
  &__detail {
    height: 100%;
    &__title {
      font-weight: $fwMedium;
      font-size: 18px;
    }
    &__item {
      position: relative;
      padding: 10px 15px;
      strong {
        color: $textUser;
      }
      &.passWord {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all linear 0.3s;
        button {
          background: $bgBtn3;
          color: $textWhite;
          font-size: 12px;
        }
      }
    }
  }
  &__history {
    &__title {
      font-weight: $fwMedium;
      font-size: 18px;
    }
    &__table {
      padding: 10px 15px;
      overflow-y: auto;
      table {
        width: 100%;
        th,
        td {
          text-transform: capitalize;
          padding: 15px 10px;
          white-space: nowrap;
        }
      }
    }
  }
  &__total {
    @include MobileAndTablet {
      margin-bottom: 10px;
    }
    &__item {
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        font-size: 40px;
      }
      &--content {
        text-align: center;
        span {
          font-size: 24px;
          font-weight: $fwMedium;
        }
      }
    }
  }
}
