@import "../Helper/variable.scss";
@import "../Helper/responsive.scss";

body {
  background-color: $bgSecondary;
}
.info {
  padding: 70px 0;
  font-weight: $fwLight;
  &__item {
    position: relative;
    border-bottom: 2px solid $bgBorder;
    padding: 10px 0;
  }
  .total__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 30px;
    }
  }
}
