@import "../../Assets/Styles/SCSS/Helper/variable";
@import "../../Assets/Styles/SCSS/Helper/mixin.scss";

.carousel {
	.owl-carousel {
		margin-top: 50px;
		z-index: 0;
		.owl-nav {
			margin: 0 !important;
			height: 0 !important;
			display: none;
			@include MediaQuery($md) {
				display: block;
			}
			button.owl-prev {
				&::before {
					content: "";
					position: absolute;
					top: 45%;
					left: 10px;
					background: url("https://tix.vn/app/assets/img/icons/back-session.png") 50% / contain no-repeat;
					width: 50px;
					height: 50px;
				}
				span {
					display: none;
				}
			}
			button.owl-next {
				&::before {
					content: "";
					position: absolute;
					top: 45%;
					right: 10px;
					background: url("https://tix.vn/app/assets/img/icons/next-session.png") 50% / contain no-repeat;
					width: 50px;
					height: 50px;
				}
				span {
					display: none;
				}
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
			@include MediaQuery($md) {
				bottom: 10%;
			}
			@include MediaQuery($xs) {
				bottom: 2%;
			}
			button {
				outline: none;
				margin: 5px;
				&.active {
					span {
						background-color: #fb4226 !important;
					}
				}
				span {
					width: 10px !important;
					height: 10px !important;
					margin: 3px 5px !important;
					background-color: #d8d8d8 !important;
					@include MediaQuery($xs) {
						width: 10px !important;
						height: 10px !important;
						margin: 0 3px !important;
					}
					@include MediaQuery($md) {
						width: 12px !important;
						height: 12px !important;
					}
				}
			}
		}
		.owl-stage-outer {
			.owl-stage {
				.owl-item {
					.carousel__item {
						// cursor: pointer;
						&:hover {
							.carousel__item__play {
								opacity: 1;
								transform: translate(-50%, -50%) scale(1);
							}
						}
						&__play {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%) scale(0.7);
							opacity: 0;
							z-index: 1;
							&:hover {
								a {
									img {
										opacity: 0.6;
									}
								}
							}
							a {
								width: unset;
								img {
									display: block;
									max-width: 100%;
									transition: all 0.3s;
								}
							}
						}
						&__overlay {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: linear-gradient(to top, #000, transparent 20%);
							cursor: pointer;
						}
						img {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
